@use '@angular/material' as mat;

$m3-dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$chartreuse-palette,
    tertiary: mat.$blue-palette,
  ),
  density: 2
));

$m3-light-theme: mat.define-theme((
  color: (
    primary: mat.$chartreuse-palette,
    tertiary: mat.$blue-palette,
  ),
  density: 2
));

.dark-theme {
  @include mat.all-component-themes($m3-dark-theme);
}

.light-theme {
  @include mat.all-component-themes($m3-light-theme);
}

html {
  color-scheme: dark;
  @include mat.all-component-themes($m3-dark-theme);
}
