<mat-card *ngIf="pvcAppStore.workingDirectory() == '' else showStatsMenu">
  <mat-card-header>
    <mat-card-title>Video Files</mat-card-title>
  </mat-card-header>
  <mat-card-content>
   <pvc-file-browser (workingDirectoryChange)="checkNewWorkingDirectory()"></pvc-file-browser>
  </mat-card-content>
</mat-card>

<ng-template #showStatsMenu>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Working Directory Stats</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <pvc-stats></pvc-stats>
    </mat-card-content>
  </mat-card>
  <pvc-gauge></pvc-gauge>
</ng-template>

