<mat-card appearance="outlined" style="margin: 15px; max-width: 800px;">
  <mat-card-header>
    <mat-card-title>
      About Plex Video Converter
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      The problem started when all the content collected over the years has filled up much
      of the space on the plex server. With most content coming from the h.264 codec,
      converting them to a newer codec would free
      up a great amount of space. This allows for more available drive space for newer content.
      PVC believes that the solution is upgrading older content to the newer spec, which
      will free up about 25-40% of drive space without losing the quality of the video.
    </p>
    <p>
      This app is an easy way to track your progress shrinking down your Plex Server,
      making room for new content.
    </p>
  </mat-card-content>
</mat-card>
